@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/*Small Mobile*/
@media (max-width: 321px) {
  main {
    padding: 2rem 0.5rem 2rem 0.5rem;
  }
}

/*Mobile*/
@media (min-width: 321px) and (max-width: 426px) {
  main {
    padding: 2rem 1rem 2rem 1rem;
  }
}

/*Tablet*/
@media (min-width: 426px) and (max-width: 769px) {
  main {
    padding: 2rem 2rem 2rem 2rem;
  }
}

/*Laptop*/
@media (min-width: 769px) and (max-width: 1441px) {
  main {
    padding: 2rem 4rem 2rem 4rem;
  }
}

/*4K*/
@media (min-width: 1441px) and (max-width: 2561px) {
  main {
    padding: 2rem 8rem 2rem 8rem;
  }
}

.background-cover {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}